body{
    font-family: 'LuzSans-Book';
    background-color:#0D192B
    
}
section{
    border-radius: 15px;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 250px;
    background-color:#14253D ;
        
}
img{
    border-radius: 15px;
    text-align: center;
    align-items: center;
    
    
}

div#imagem{
    position:relative;
    width: 250px;
    text-align: center;
}
img#icon{
    background-color: #00FFF7;
    position: absolute;
    color: white;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  
  }
  div#overlayer{
    position: absolute;
    top: 0;
     bottom: 0;
     left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #00FFF7;
    border-radius: 15px;
  }
  div#overlayer:hover{
      opacity: 0.5;
  }


h1{
    color: white;
}
h1:hover{
    color: #00FFF7;
}
div#textopequeno{
    color: #8BACDA;

}
div#codigo{
    color: #00FFF7;
    text-align: left;
}
div#tempo{
text-align: right;
color: #8BACDA;
}
div#creation{
    color: #8BACDA
}
.dados{
    display:  grid;
    grid-template-columns: 50% 50%;
}
.atribution{
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}
a{
    color: #8BACDA;
    text-decoration: none;
}
a:hover{
    color: #00FFF7;
}